.container button{
  background-color: black;
  color: white;
  outline: none;
  border : none;
  font-size: 40px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 50px;


}
.container button:hover {
  background-color: white;
  color: black;
}

.full-height {
  height: 100vh;
}

