.localForm {
  border:2px solid lightgray !important;
  border-radius: 50px;
  min-width: 600px;
}

.submit-button{
  background-color: black;
  color: white;
  border-radius: 50px;
  border: none;
  margin: 1rem;
  padding: 1rem;

  min-width: 600px;
}

.submit-button:hover{
  background-color: white;
  color: black;
}

form {
  border:2px solid lightgray;
  border-radius: 10px;
}